<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">

        <script th:replace="fragments/default :: header" th:remove="tag"></script>
        <script th:replace="fragments/scripts :: header" th:remove="tag"></script>

    </head>
    <body class="hold-transition sidebar-mini">

        <div th:replace="fragments/scripts :: bodystart" th:remove="tag"></div>

        <div class="wrapper">

            <div th:replace="fragments/navigation :: topnavigation" th:remove="tag"></div>

            <div th:replace="fragments/menu_left :: menuleft" th:remove="tag"></div>

            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Review-Charts</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="beadcrumb-item"><a href="/">Home</a></li>
                                    <span> / </span>
                                    <li class="beadcrumb-item active">ReviewInsight</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="content">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h3 class="card-title" style="text-align: center">Review-Verteilung</h3>
                        </div>
                        <div class="card-body">
                            <div class="col-12 mr-2">
                                <div id="distgraph" style="width: 100%; min-height: 400px"></div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

            <div th:replace="fragments/scripts :: bodyend" th:remove="tag"></div>
        </div>

        <script src="/tmpl_plugins/apache-echarts-5.1.1/echarts.min.js"></script>

        <script th:inline="javascript">
            $(function () {
                var domGraph = document.getElementById('distgraph');
                var distGraph = echarts.init(domGraph);
                var optionDistGraph = {

                    title: {
                        text: '# Reviews'
                    },
                    legend: {
                        data: ['Quantität der Reviews mit Bewertung']
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'line',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },

                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },

                    xAxis: [{
                        name: 'Bewertung',
                        type: 'category',
                        data: [
                            /*[(${xAxis})]*/
                        ]
                    }],

                    yAxis: [{
                        type: 'value'
                    }],

                    series: [{
                        name: 'Anzahl Reviews',
                        type: 'bar',
                        data: [
                            /*[(${yAxis})]*/
                        ]
                    }]

                };

                distGraph.setOption(optionDistGraph);
            })
        </script>

    </body>
</html>