<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="header" th:remove="tag">
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Kaffee-Tour</title>

        <link rel="stylesheet" href="/tmpl_plugins/fontawesome-free/css/all.min.css" />

        <link rel="stylesheet" href="/tmpl/css/adminlte.css" />
    </div>
</body>
</html>