<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <script th:replace="fragments/default :: header" th:remove="tag"></script>
    <script th:replace="fragments/scripts :: header" th:remove="tag"></script>

    <!-- Datatables -->
    <link rel="stylesheet" href="/tmpl_plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/tmpl_plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/tmpl_plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body class="hold-transition sidebar-mini">

<div th:replace="fragments/scripts :: bodystart" th:remove="tag"></div>

<div class="wrapper">

    <div th:replace="fragments/navigation :: topnavigation" th:remove="tag"></div>

    <div th:replace="fragments/menu_left :: menuleft" th:remove="tag"></div>

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Shop</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="beadcrumb-item"><a href="/">Home</a></li>
                            <span> / </span>
                            <li class="beadcrumb-item active">Preise</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <div>
                        <h4 style="text-align: center">Preis hinzufügen</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form id="cisnew"
                          role="form"
                          class="form-horizontal form-label-left"
                          method="post"
                          data-th-action="${'/coffeeinshop'}"
                          th:object="${newCis}">
                        <div class="card-body">
                            <!-- Shop -->
                            <div class="form-group row">
                                <label class="col-sm-3 col-lg-2 col-form-label">
                                    Shop
                                </label>
                                <div class="col-sm-9 col-lg-6">
                                    <select th:name="shop"
                                            class="js-example-placeholder-single form-control form-control-sm select2bs4 select2-hidden-accessible"
                                            th:field="*{shopId}"
                                            id="shopselect">

                                        <option th:each="shop: ${shopList}"
                                                th:selected="${shop.getShopId() == newCis.getShopId()}"
                                                th:value="${shop.getShopId()}"
                                                th:text="${shop.getName() + ' - ' + shop.getPlace()}">
                                        </option>
                                    </select>

                                </div>
                            </div>

                            <!-- Coffee -->
                            <div class="form-group row">
                                <label class="col-sm-3 col-lg-2 col-form-label">
                                    Kaffee
                                </label>
                                <div class="col-sm-9 col-lg-6">
                                    <select th:name="coffee"
                                            class="js-example-placeholder-single form-control form-control-sm select2bs4 select2-hidden-accessible"
                                            th:field="*{coffeeId}"
                                            id="coffeeselect">

                                        <option th:each="coffee: ${coffeeList}"
                                                th:selected="${coffee.getId() == newCis.getCoffeeId()}"
                                                th:value="${coffee.getId()}"
                                                th:text="${coffee.getName() + ' - ' + coffee.getBrand() + ' - ' + coffee.getType() + ' - ' + coffee.getFlavour()}">
                                        </option>
                                    </select>

                                </div>
                            </div>

                            <!-- Price -->
                            <div class="form-group row">
                                <label class="col-sm-3 col-lg-2 col-form-label">
                                    Preis <small style="color: grey">Mit Punkt getrennt</small>
                                </label>
                                <div class="col-sm-9 col-lg-6">
                                    <input required="required"
                                           class="form-control col-sm-3"
                                           min="0"
                                           type="number"
                                           step=".01"
                                           data-th-field="*{price}" />
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <a href="/#">
                                <button type="button" class="btn btn-secondary">
                                    Abbrechen
                                </button>
                            </a>
                            <button type="submit" class="btn btn-primary float-right">Speichern</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card card-outline card-primary">
                <div class="card-header">
                    <h4 style="text-align: center">Preis-Liste</h4>
                </div>
                <div class="card-body table-responsive">
                    <table id="shoptable" class="table table-hover table-sm" width="100%">
                        <thead>
                            <tr>
                                <th>Shop - Name</th>
                                <th>Preis</th>
                                <th>Shop-Ort</th>
                                <th>Kaffee-Name</th>
                                <th>Kaffee-Marke</th>
                                <th>Kaffee-Typ</th>
                                <th>Kaffee-Geschmack</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${cisList}">
                                <td th:text="${item.getShopName()}"></td>
                                <td th:text="${item.getPrice()}"></td>
                                <td th:text="${item.getShopPlace()}"></td>
                                <td th:text="${item.getCoffeeName()}"></td>
                                <td th:text="${item.getCoffeeBrand()}"></td>
                                <td th:text="${item.getCoffeeType()}"></td>
                                <td th:text="${item.getCoffeeFlavour()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

    </div>

    <div th:replace="fragments/scripts :: bodyend" th:remove="tag"></div>

    <!-- Datatables -->
</div>

<script src="tmpl_plugins/datatables/jquery.dataTables.min.js"></script>
<script>
        $(document).ready(function() {
            $('#shoptable').DataTable();
        } );
    </script>
</body>
</html>